@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Define color palettes
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

// Create a custom theme
$customTheme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

// Include core styles
@include mat.core();

.custom-theme {
    @include mat.all-component-themes($customTheme);

    // Override the button styles
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
        @apply rounded-md;
    }
}

.text-primary {
  color: #7d00fa;
}
ß

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}